
#showcase-servicebox {
  background: #ce111e;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  object-fit: contain;
  width: 800px;
  margin: 0;
  border-radius: 20px;
}


