*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px 40px;
  
}

.mainmenu li {
  list-style: none;
  margin-bottom: 1rem;
}

.mainmenu li a {
  text-decoration: none;
  
}
