
#showcase-login{
  display:flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 0;
}


#showcase-delivery{
  display:flex !important;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
}

.showcase-button{
  background:#f01414;
  height: 272px !important;
  width: 245px !important;
  border-radius: 0;
  color: #fff;
  font-size: 6rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fas{
  padding: 1rem
}


/*  Start Person-search page */

#container {
  margin: 50px auto !important;
  max-width: 688px  !important;
}

#write{
  display: block;
  padding: 20px ;
  border-radius: 20px;
  border: 1px solid #0969da;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
}
#keyboard {
  max-width: 685px;
  list-style: none;
  position: absolute;
  top: 500px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  
}

#keyboard .delete {
  width: 393px;
}

#keyboard .space {
  width: 700px;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}

#name-list{
  background: #fff;
  color: #333;
  overflow-y:scroll;
  width: 100%;
  margin:  0 auto;
  padding: 0.5rem;
  border-radius: 20px;
  max-height: 288px;
  border: 1px solid #0969da;
  margin-bottom: 0.50rem;

}

.list li {
  border-bottom: 1px solid #444c56;
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.5rem;
  
}

#nameList .list li.hide{
  display: none;
}

.list .far {
  font-size: 1.5rem;
}

.list li a {
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem;
  text-decoration: none;
}


.list li:hover{
  background: #0969da;
  color: #fff!important;
}

.list li:hover a {
  color: #fff!important;
}

#not__found{
  display: none;
  background: #f01414;
  color: #Fff;
   position: absolute;
   padding: 20px 30px;
   border-radius: 10px;
   margin: 0 auto;
   top: 20px;
   right: 300px;
}
/*  End search page */



